/*************/
/* CSS RESET */
/*************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  zoom: reset;
  touch-action: manipulation;
}

* {
  cursor: none;
}

/* html {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
} */

/* naar een idee van Jen Simmons */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  cursor: none;
}

button:hover {
  cursor: none;
}

a {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  color: #1277D9;
  font-weight: 400;
  font-size: .8em;
  text-decoration: none;
  bottom: -1.2em;
  right: .4em;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings: crimson;
  --delay-animation-factor: 1.4;
  --delay-total-animation: 1.8s;
}

/********************/
/* ALGEMENE STYLING */
/********************/
header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ol li {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

ol li {
  position: absolute;
}

.info {
  position: absolute;
  /* background-color: blue; */
  height: 100%;
  width: 100%;
  padding: 3em;
  pointer-events: none;
  z-index: 25;
  opacity: 0;
  transition-duration: 2s;
  transition-delay: .6s;
  background-position: center;
  background-size: cover;
}

.information-visible {
  opacity: 1;
  pointer-events: all;
  outline: solid 0em white !important;
}

ol li:nth-of-type(1) .info {
  background-image: url("../images/flag-1930.jpg");
}
ol li:nth-of-type(2) .info {
  background-image: url("../images/flag-1934-1990.jpg");
}
ol li:nth-of-type(3) .info {
  background-image: url("../images/flag-1938-1998.jpg");
}
ol li:nth-of-type(4) .info {
  background-image: url("../images/flag-1950-2014.jpg");
}
ol li:nth-of-type(5) .info {
  background-image: url("../images/flag-1954.jpg");
}
ol li:nth-of-type(6) .info {
  background-image: url("../images/flag-1958.jpg");
}
ol li:nth-of-type(7) .info {
  background-image: url("../images/flag-1962.jpg");
}
ol li:nth-of-type(8) .info {
  background-image: url("../images/flag-1966.jpg");
}
ol li:nth-of-type(9) .info {
  background-image: url("../images/flag-1970-1986.jpg");
}
ol li:nth-of-type(10) .info {
  background-image: url("../images/flag-1974-2006.jpg");
}
ol li:nth-of-type(11) .info {
  background-image: url("../images/flag-1978.jpg");
}
ol li:nth-of-type(12) .info {
  background-image: url("../images/flag-1982.jpg");
}
ol li:nth-of-type(13) .info {
  background-image: url("../images/flag-1970-1986.jpg");
}
ol li:nth-of-type(14) .info {
  background-image: url("../images/flag-1934-1990.jpg");
}
ol li:nth-of-type(15) .info {
  background-image: url("../images/flag-1994.jpg");
}
ol li:nth-of-type(16) .info {
  background-image: url("../images/flag-1938-1998.jpg");
}
ol li:nth-of-type(17) .info {
  background-image: url("../images/flag-2002jpg.jpg");
}
ol li:nth-of-type(18) .info {
  background-image: url("../images/flag-1974-2006.jpg");
}
ol li:nth-of-type(19) .info {
  background-image: url("../images/flag-2010.jpg");
}
ol li:nth-of-type(20) .info {
  background-image: url("../images/flag-1950-2014.jpg");
}
ol li:nth-of-type(21) .info {
  background-image: url("../images/flag-2018.jpg");
}
ol li:nth-of-type(22) .info {
  background-image: url("../images/flag-2022.jpg");
}

.year {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 64vw;
  aspect-ratio: 6 / 4;
  max-height: 80%;
}

h3 {
  position: absolute;
  z-index: 24;
  transform: translate(-50%, -50%);
  background-color: purple;
  text-align: center;
}

ol li:nth-of-type(1) section:first-of-type h3 {
  top: 24.5%;
  left: 8.33%;
}
ol li:nth-of-type(2) section:first-of-type h3 {
  top: 24.5%;
  left: 25%;
}

ol li:nth-of-type(3) section:first-of-type h3 {
  top: 24.5%;
  left: 41.67%;
}
ol li:nth-of-type(4) section:first-of-type h3 {
  top: 24.5%;
  left: 58.33%;
}
ol li:nth-of-type(5) section:first-of-type h3 {
  top: 24.5%;
  left: 75%;
}
ol li:nth-of-type(6) section:first-of-type h3 {
  top: 24.5%;
  left: 91.67%;
}

ol li:nth-of-type(7) section:first-of-type h3 {
  top: 49.5%;
  left: 16.67%;
}
ol li:nth-of-type(8) section:first-of-type h3 {
  top: 49.5%;
  left: 33.33%;
}
ol li:nth-of-type(9) section:first-of-type h3 {
  top: 49.5%;
  left: 50%;
}
ol li:nth-of-type(10) section:first-of-type h3 {
  top: 49.5%;
  left: 66.67%;
}
ol li:nth-of-type(11) section:first-of-type h3 {
  top: 49.5%;
  left: 83.33%;
}
ol li:nth-of-type(12) section:first-of-type h3 {
  top: 74.5%;
  left: 8.33%;
}
ol li:nth-of-type(13) section:first-of-type h3 {
  top: 74.5%;
  left: 25%;
}
ol li:nth-of-type(14) section:first-of-type h3 {
  top: 74.5%;
  left: 41.67%;
}
ol li:nth-of-type(15) section:first-of-type h3 {
  top: 74.5%;
  left: 58.33%;
}
ol li:nth-of-type(16) section:first-of-type h3 {
  top: 74.5%;
  left: 75%;
}
ol li:nth-of-type(17) section:first-of-type h3 {
  top: 74.5%;
  left: 91.67%;
}
ol li:nth-of-type(18) section:first-of-type h3 {
  top: 99.5%;
  left: 16.67%;
}
ol li:nth-of-type(19) section:first-of-type h3 {
  top: 99.5%;
  left: 33.33%;
}
ol li:nth-of-type(20) section:first-of-type h3 {
  top: 99.5%;
  left: 50%;
}
ol li:nth-of-type(21) section:first-of-type h3 {
  top: 99.5%;
  left: 66.67%;
}
ol li:nth-of-type(22) section:first-of-type h3 {
  top: 99.5%;
  left: 83.33%;
}

ol li div {
  position: relative;
  margin: 0;
  padding: 0;
  height: 64vw;
  aspect-ratio: 6 / 4;
  max-height: 80%;
}

main {
  width: 100%;
  height: 100vh;
  background-color: pink;
  background-image: url("../images/pxfuel.jpg");
  background-position: center;
  background-size: cover;
}

main > section:first-of-type {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  height: 78vw;
  max-width: 96%;
  aspect-ratio: 5.6 / 4;
  max-height: 90%;
  background-color: #00182f7e;
  backdrop-filter: blur(10px);
  border-radius: .8em;
  /* border: 1px solid #0E87FF; */

  animation-duration: 1.5s;
  animation-delay: 0.5s;
  animation-name: lineup;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-fill-mode: backwards;
  animation-timing-function: ease;
}

.resource {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  height: 78vw;
  max-width: 96%;
  aspect-ratio: 5.6 / 4;
  max-height: 90%;
}

@keyframes lineup {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scaleX(0) scaleY(.8);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scaleY(1) scaleY(1);
  }
}

h1 {
  width: 100%;
  background-color: #00182F;
  text-align: center;
  border-radius: .4em .4em 0 0;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: 700;
  padding: .16em 0;
  font-size: 1.4em;

  animation-duration: 2s;
  animation-delay: 1.2s;
  animation-name: heading-delay;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-fill-mode: backwards;
  animation-timing-function: ease;
}

@keyframes heading-delay {
  0% {
    color: rgba(255, 255, 255, 0);
  }
  100% {
    color: white;
  }
}

h3 {
  margin-top: -.1em;
  background-color: #E4E8F0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #505B73;
  font-weight: 400;
  padding: .16em 0;
  font-size: 1em;
  width: 4em;
  /* border-radius: 1em; */
  border-left: .4em solid #1277D9;

  animation-duration: 1.6s;
  animation-delay: 5s;
  animation-name: year;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-fill-mode: backwards;
  animation-timing-function: ease;
}

@keyframes year {
  0% {
    width: 0em;
    border-left: .4em solid #1276d900;
    background-color: #e4e8f000;
    color: #505b7300;
  }
  1% {
    background-color: #E4E8F0;
    border-left: .4em solid #1277D9;
  }
  96% {
    color: #505B73;
  }
  100% {
    width: 4em;
  }
}

.year-hover {
  border-left: 4em solid #1277D9;
}

ol li div button {
  position: absolute;
  aspect-ratio: 1 / 1;
  height: 18%;
  border-radius: 100%;
  background-color: transparent;
  /* outline: none; */
  border: none;
  list-style: none;
  animation-delay: 0.6s;
  transform: translate(-50%, -50%);
  transition: 3s, outline .125s, background-color .125s;


  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  box-shadow: rgba(255, 3, 3, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  /* From: https://getcssscan.com/css-box-shadow-examples */

  animation-duration: 0.75s;
  animation-delay: 0.5s;
  animation-name: animate-glow;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-fill-mode: backwards;
  animation-timing-function: ease;
  outline: solid 0 white;
}

ol li div button:hover {
  outline: solid .4em white;
  background-color: white;
}

ol li:nth-of-type(1) button {
  top: 12.5%;
  left: 8.33%;
  z-index: 23;
  background-image: url("../images/ball-1930.png");
  animation-delay: calc(var(--delay-animation-factor) * 0.6s + var(--delay-total-animation));
}
ol li:nth-of-type(2) button {
  top: 12.5%;
  left: 25%;
  z-index: 22;
  background-image: url("../images/ball-1934.png");
  animation-delay: calc(var(--delay-animation-factor) * 0.7s + var(--delay-total-animation));
}

ol li:nth-of-type(3) button {
  top: 12.5%;
  left: 41.67%;
  z-index: 21;
  background-image: url("../images/ball-1938.png");
  animation-delay: calc(var(--delay-animation-factor) * 0.8s + var(--delay-total-animation));
}
ol li:nth-of-type(4) button {
  top: 12.5%;
  left: 58.33%;
  z-index: 20;
  background-image: url("../images/ball-1950.png");
  animation-delay: calc(var(--delay-animation-factor) * 0.9s + var(--delay-total-animation));
}
ol li:nth-of-type(5) button {
  top: 12.5%;
  left: 75%;
  z-index: 19;
  background-image: url("../images/ball-1954.png");
  animation-delay: calc(var(--delay-animation-factor) * 1s + var(--delay-total-animation));
}
ol li:nth-of-type(6) button {
  top: 12.5%;
  left: 91.67%;
  z-index: 18;
  background-image: url("../images/ball-1958.png");
  animation-delay: calc(var(--delay-animation-factor) * 1.1s + var(--delay-total-animation));
}

ol li:nth-of-type(7) button {
  top: 37.5%;
  left: 16.67%;
  z-index: 17;
  background-image: url("../images/ball-1962.png");
  animation-delay: calc(var(--delay-animation-factor) * 0.9s + var(--delay-total-animation));
}
ol li:nth-of-type(8) button {
  top: 37.5%;
  left: 33.33%;
  z-index: 16;
  background-image: url("../images/ball-1966.png");
  animation-delay: calc(var(--delay-animation-factor) * 1s + var(--delay-total-animation));
}
ol li:nth-of-type(9) button {
  top: 37.5%;
  left: 50%;
  z-index: 15;
  background-image: url("../images/ball-1970.png");
  animation-delay: calc(var(--delay-animation-factor) * 1.1s + var(--delay-total-animation));
}
ol li:nth-of-type(10) button {
  top: 37.5%;
  left: 66.67%;
  z-index: 14;
  background-image: url("../images/ball-1974.png");
  animation-delay: calc(var(--delay-animation-factor) * 1.2s + var(--delay-total-animation));
}
ol li:nth-of-type(11) button {
  top: 37.5%;
  left: 83.33%;
  z-index: 13;
  background-image: url("../images/ball-1978.png");
  animation-delay: calc(var(--delay-animation-factor) * 1.3s + var(--delay-total-animation));
}

ol li:nth-of-type(12) button {
  top: 62.5%;
  left: 8.33%;
  z-index: 12;
  background-image: url("../images/ball-1982.png");
  animation-delay: calc(var(--delay-animation-factor) * 1.1s + var(--delay-total-animation));
}
ol li:nth-of-type(13) button {
  top: 62.5%;
  left: 25%;
  z-index: 11;
  background-image: url("../images/ball-1986.png");
  animation-delay: calc(var(--delay-animation-factor) * 1.2s + var(--delay-total-animation));
}
ol li:nth-of-type(14) button {
  top: 62.5%;
  left: 41.67%;
  z-index: 10;
  background-image: url("../images/ball-1990.png");
  animation-delay: calc(var(--delay-animation-factor) * 1.3s + var(--delay-total-animation));
}
ol li:nth-of-type(15) button {
  top: 62.5%;
  left: 58.33%;
  z-index: 9;
  background-image: url("../images/ball-1994.png");
  animation-delay: calc(var(--delay-animation-factor) * 1.4s + var(--delay-total-animation));
}
ol li:nth-of-type(16) button {
  top: 62.5%;
  left: 75%;
  z-index: 8;
  background-image: url("../images/ball-1998.png");
  animation-delay: calc(var(--delay-animation-factor) * 1.5s + var(--delay-total-animation));
}
ol li:nth-of-type(17) button {
  top: 62.5%;
  left: 91.67%;
  z-index: 7;
  background-image: url("../images/ball-2002.png");
  animation-delay: calc(var(--delay-animation-factor) * 1.6s + var(--delay-total-animation));
}

ol li:nth-of-type(18) button {
  top: 87.5%;
  left: 16.67%;
  z-index: 6;
  background-image: url("../images/ball-2006.png");
  animation-delay: calc(var(--delay-animation-factor) * 1.4s + var(--delay-total-animation));
}
ol li:nth-of-type(19) button {
  top: 87.5%;
  left: 33.33%;
  z-index: 5;
  background-image: url("../images/ball-2010.png");
  animation-delay: calc(var(--delay-animation-factor) * 1.5s + var(--delay-total-animation));
}
ol li:nth-of-type(20) button {
  top: 87.5%;
  left: 50%;
  z-index: 4;
  background-image: url("../images/ball-2014.png");
  animation-delay: calc(var(--delay-animation-factor) * 1.6s + var(--delay-total-animation));
}
ol li:nth-of-type(21) button {
  top: 87.5%;
  left: 66.67%;
  z-index: 3;
  background-image: url("../images/ball-2018.png");
  animation-delay: calc(var(--delay-animation-factor) * 1.7s + var(--delay-total-animation));
}
ol li:nth-of-type(22) button {
  top: 87.5%;
  left: 83.33%;
  z-index: 2;
  background-image: url("../images/ball-2022.png");
  animation-delay: calc(var(--delay-animation-factor) * 1.8s + var(--delay-total-animation));
}

.balls-zoom-in {
  top: 50% !important;
  left: 25% !important;
  transform: translate(-50%, -50%) scale(420%);
  z-index: 999 !important;
  /* margin-left: -40em; */
}

/* ol li:hover {
  animation: bounce 0.5s 0.3s cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-direction: alternate;
  animation-iteration-count: infinite;
} */

/* @keyframes bounce {
  from {
    transform: translate(-50%, -50%) translate3d(0, 0, 0);
  }
  to {
    transform: translate(-50%, -50%) translate3d(0, 200%, 0);
  }
} */

@keyframes animate-glow {
  0% {
    opacity: 0;
    /* filter: brightness(3) saturate(3); */
    transform: translate(-50%, -50%) scale(4);
    pointer-events: all;
  }
  100% {
    opacity: 1;
    /* filter: brightness(1) saturate(1); */
    transform: translate(-50%, -50%) scale(1);
    pointer-events: all;
  }
}

.inner-cursor img {
  width: 1vw;
  height: 1vw;
}

.outer-cursor img {
  transform: scale(50%);
}

.inner-cursor, .outer-cursor {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 1000;
  pointer-events: none;
  -webkit-filter: drop-shadow(2px 2px 2px #222);
  filter: drop-shadow(2px 2px 2px #222);
}

.cursor {
  opacity: 0;
}


#background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  /* background-color: red; */
}

.info section {
  position: absolute;
  top: 48%;
  right: 10%;
  transform: translate(0%, -50%);
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 26em;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: 700;
  font-size: 3.2em;
  text-align: center;
}

.divider {
  background-color: white;
  width: 100%;
  height: .25em;
  border-radius: .075em;
  margin: 1em 0;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: white;
  opacity: .6;
  font-weight: 400;
  padding: .16em 0;
  font-size: 1em;
  text-align: center;
}

@media (max-width: 1140px) {
  .info section {
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 22em;
  }

  .balls-zoom-in {
    top: 15% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) scale(320%);
  }
}